#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;


  @media (max-width: 768px) {
    padding: 1rem;
  }

  @media (max-width: 600px) {
    width: 100%;
  }
}


.search-container {
  margin-top: 200px;
  position: relative;
  width: 450px;

  @media (max-width: 600px) {
    width: 100%;
    margin-top: 150px;
  }


  h2 {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 32px;
    text-align: left;
    margin: 5px 8px;
    padding: 0;
    background: -webkit-linear-gradient(top left, #f5c014, #0bd0c0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.search-text-area-wrapper {
  position: relative;
}

.search-text-area {
  outline: none;
  border: none;
  user-select: none;
  min-height: 45px;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  word-wrap: break-word;
  word-break: break-all;
  border-radius: 9px;
  padding: 10px 20px 0 20px;
  resize: none;
  box-sizing: border-box;
  height: auto;
  transition: height 0.1s ease-out;
}

.clear-input-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  color: #afafaf;
  opacity: 0.7;
  font-size: 18px;
  user-select: none;
  -webkit-user-select: none;

  &:hover {
    color: #525252;
  }
}


.suggestions-container {
  display: flex;
  flex-direction: column;
  //padding-top: 5px;
  border-radius: 10px;
  width: 100%;
  height: auto;
  background: #222222;

  div {
    display: flex;
    position: relative;
    //background: #1a1a1a;
    //overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: start;


    &:nth-child(1) {
      border-radius: 10px 10px 0 0;
    }

    &:nth-last-child(1) {
      border-radius: 0 0 10px 10px;
    }

    &:only-child {
      border-radius: 10px;
    }
  }

  .text-wrapper {
    width: auto;
    max-width: 95%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: start;
    display: inline-block;
    z-index: 2;
  }

  .header {
    padding: 10px 20px 3px 20px;
    font-size: 12px;
    color: #757575;
    justify-content: space-between;
  }

  .suggestion {
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    //border: red solid 1px;

    &:hover {
      background: #101010;
    }

    &.isHighlighted {
      //background: #101010;
    }
  }


}

.bold {
  font-weight: 700;
}

.highlighted {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  //background: red;
  left: 0;
  background: #101010;
  z-index: 0;

  span {
    position: absolute;
    left: 0;
    width: 2px;
    height: 100%;
    background: #d6d6d7;
  }

  border-radius: 8px;
}

.clear-history-btn {
  cursor: pointer;

  &:hover {
    color: #d6d6d7;
  }
}

.modal-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 3;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
  -webit-backdrop-filter: blur(4px);
}

.modal-container { // modal window
  position: relative;
  backdrop-filter: blur(4px);
  background: rgba(21, 21, 21, 0.9);
  max-width: 450px;
  height: 200px;
  top: 20%;
  border-radius: 20px;
  padding: 25px 50px;

  @media (max-width: 600px) {
    margin: 30% 20px;
    h2 {
      font-size: 20px;
    }
  }
}

.close-modal-btn {
  top: -10px;
  right: -10px;
  z-index: 5;
  font-size: 30px;
  position: absolute;
  cursor: pointer;
  color: #d6d6d7;

  &:hover {
    color: #afafaf;
  }
}

.results-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.results-content {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}


.shine {
  background: #1d1e1e linear-gradient(to right, #1d1e1e 0%, #262628 20%, #1b1b1c 40%, #1d1e1e 100%) no-repeat;
  background-size: 800px 104px;
  display: inline-block;
  position: relative;

  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}